footer
    .logo2
        img(src="img/logo.jpeg", alt="")
        <br><br>
    h5 Если у вас возникли вопросы или проблемы ,<br>вы можете связаться с нами по этому номеру<br> +79772789029
    h1 Наша почта: foto_tocka@gmail.com
    h1 ООО "Фотолайн"