header
    .logo
        img(src='img/logo.jpeg', alt='')
    nav
        ul
          li
            a(href='../src/index.html') Главная
          li
            a(href='../src/catalog.html') Наша команда
          li
            a(href='../src/compilations.html') Запись